<p style="color: green"><%= notice %></p>
<section class="section">
  <div class="container">
    <div class="columns">
      <% if user_signed_in? %>
        <div class = "column is-one-quarter">
        <%= render 'profile' %>
        <%= render 'trends' %>
        </div>
      <% else %>
        <div class="column is-one-quarter">
        <%= render 'trends' %>
        </div>
      <% end %>
      <%= render 'feed' %>
      <%= render 'who-to-follow' %>
    </div>
  </div>
</section>

